<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.yuriyguts.persistent-touch-id-sudo</string>
    <key>KeepAlive</key>
    <false/>
    <key>LaunchOnlyOnce</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/com.yuriyguts.persistent-touch-id-sudo</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/com.yuriyguts.persistent-touch-id-sudo.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.yuriyguts.persistent-touch-id-sudo.stderr.log</string>
</dict>
</plist>
